<div class="image-container">
    <img id="previewImage" src="static\images\Bird store logo.png" width="30px" class="card-img-top" alt="Bird image"/>
    <input type="file" id="bird_image" name="bird_image" accept="image/png, image/jpeg" style="display: none;"/>
    <!--<i class="fad fa-pen"></i>-->
</div>
<div class="card-body">
    <div class="mb-3">
        <label for="" class="form-label">Bird name</label>
        <input type="text" class="form-control" id="bird_name" placeholder="Bird name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Short description</label>
        <input type="text" class="form-control" id="bird_desc" placeholder="Short description">
    </div>
    <div class="col-12">
        <div class="btn btn-primary" id="submit_bird_from" type="button">Submit</div>
    </div>
</div>